keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  |   |
            // | TAB  |  A  |  S  |  D* |  F* |  G  |   |  H  |  J*  |  K* |  L  |  ;  |  '   |
            // | CTRL |  Z* |  X* |  C  |  V  |  B  |   |  N  |  M   |  ,* |  .* |  /  | EQUAL|
            //                    |BKSP |LWR* |ENT* |   | SPC | RSE* |DEL* |

            bindings = <
&kp ESC    &kp Q        &kp W       &kp E       &kp R              &kp T         &kp Y      &kp U               &kp I           &kp O         &kp P            &kp BSPC
&kp TAB    &kp A        &kp S       &kp D       &shm LEFT_SHIFT F  &kp G         &kp H      &shm RIGHT_SHIFT J  &kp K           &kp L         &kp SEMI         &kp SQT
&kp LCTRL  &hm LCTRL Z  &hm LWIN X  &hm LALT C  &kp V              &kp B         &kp N      &kp M               &hm RALT COMMA  &hm RGUI DOT  &hm RCTRL SLASH  &kp RSHFT
                                    &kp BSPC    &lt 1 ESC          &kp RETURN    &kp SPACE  &lt 2 TAB           &hm RALT DEL
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // Lower
            //  ,-----------------------------------------------------.                    ,-----------------------------------------------------.
            //  |    ▼   | CAPSLCK|  Home  |   ↑    |   Pg↑  |   {    |                    |    }   |   7    |   8    |   9    |   +    |  Del   |
            //  |--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
            //  |    ▼   | NUMLCK |   ←    │   ↓    │    →   |   [    |                    |    ]   |   4    |   5    |   6    |   -    |   =    |
            //  |--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
            //  |    ▼   |        |  End   |  SAVE  |   Pg↓  |   (    |                    |    )   |   1    |   2    |   3    |   *    |   ▼    |
            //  `--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------'
            //                                      |    ▼   |   ▼    |    ▼   |  |   -    | Adjust |   0    |
            //                                      `--------------------------'  `--------------------------'

            bindings = <
&trans  &kp CAPSLOCK    &kp HOME  &kp UP     &kp PG_UP      &kp LBRC    &kp RBRC  &kp N7  &kp N8  &kp N9  &kp PLUS      &kp LC(BSPC)
&trans  &kp KP_NUMLOCK  &kp LEFT  &kp DOWN   &kp RIGHT      &kp LBKT    &kp RBKT  &kp N4  &kp N5  &kp N6  &kp MINUS     &kp EQUAL
&trans  &kp LS(F10)     &kp END   &kp LC(S)  &kp PAGE_DOWN  &kp LPAR    &kp RPAR  &kp N1  &kp N2  &kp N3  &kp ASTERISK  &trans
                                  &trans     &trans         &trans      &trans    &mo 3   &kp N0
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // Raise
            //  ,-----------------------------------------------------.                    ,-----------------------------------------------------.
            //  |   ~    |    !   |   @    |   #    |   $    |   %    |                    |    ^   │    Ü   │    &   │    Ö   │    °   │   Del  |
            //  |--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
            //  |        │    Ä   │   SZ   │   è    │   é    │    ç   │                    │    /   │    £   │    €   │        │    µ   │        |
            //  |--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
            //  |        │        │        │        │        │        │                    │    |   │        │    ²   │   ³    │        │        │
            //  `--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------'
            //                                      |        │ ADJUST │    -   │  │    ▼   │    ▼   │    ▼   │
            //                                      `--------------------------'  `--------------------------'

            bindings = <
&kp GRAVE  &kp EXCL     &kp AT      &kp HASH       &kp DLLR       &kp PRCNT                &kp CARET  &kp RA(Y)       &kp AMPS      &kp RA(P)       &kp RA(LS(COMMA))  &caps_word
&trans     &kp RA(Q)    &kp RA(S)   &kp RA(F)      &kp RA(G)      &kp TILDE                &kp BSLH   &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW    &none
&trans     &kp LS(F10)  &kp LS(F6)  &kp LA(LC(L))  &kp LC(LS(V))  &kp RA(RS(SEMICOLON))    &kp PIPE   &kp LC(LS(M))   &kp RA(N2)    &kp RA(N3)      &kp RA(NUMBER_5)   &trans
                                    &trans         &mo 3          &trans                   &trans     &trans          &trans
            >;
        };

        // Adjust
        //  ,-----------------------------------------------------.                    ,-----------------------------------------------------.
        //  | Reset  |        |        |        |        | Print  |                    |  MUTE  |   F7   |   F8   |   F9   |  F12   |   ▼    |
        //  |--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
        //  | BT CLR |  BT 0  |  BT 1  |  BT 2  |  BT 3  |  BT 4  |                    |  VOL↑  |   F4   |   F5   |   F6   |  F11   |   ▼    |
        //  |--------+--------+--------+--------+--------+--------|                    |--------+--------+--------+--------+--------+--------|
        //  |        |        |  Next  |  Play  |  Prv   |        |                    |  VOL↓  |   F1   |   F2   |   F3   |  F10   |   ▼    |
        //  `--------+--------+--------+--------+--------+--------+--------.  .--------+--------+--------+--------+--------+--------+--------'
        //                                      │    ▼   │    ▼   │    ▼   │  │    ▼   │    ▼   │    ▼   │ 
        //                                      `--------------------------'  `--------------------------'

        layer_3 {
            bindings = <
&trans      &none         &none         &none         &kp PSCRN     &none           &kp C_MUTE    &kp F7  &kp F8  &kp F9  &kp F12  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp C_VOL_UP  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans      &none         &none         &none         &none         &none           &kp C_VOL_DN  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                                        &trans        &trans        &trans          &trans        &trans  &trans
            >;
        };
    };