/*
*
* Copyright (c) 2022 Rafael Romão
* SPDX-License-Identifier: MIT
*
*/

/ {
    #define SHORTCUT(NAME, BINDINGS) \
        NAME: NAME { \
            compatible = "zmk,behavior-macro"; \
            #binding-cells = <0>; \
            wait-ms = <10>; \
            tap-ms = <10>; \
            bindings = <BINDINGS>; \
        };
    
    shortcuts {

        // Macros

        SHORTCUT(mc_selw,                   &macro_tap &kp LA(LEFT) &kp LA(RIGHT) \
                                            &macro_press &kp LA(LS(LEFT)) \
                                            &macro_pause_for_release \
                                            &macro_release &kp LA(LS(LEFT)) \
                                            &macro_tap &sl SHORTS_EXT_1)
        
        SHORTCUT(mc_seln,                   &macro_tap &kp HOME &kp HOME \
                                            &macro_press &kp LS(DOWN) \
                                            &macro_pause_for_release \
                                            &macro_release &kp LS(DOWN) \
                                            &macro_tap &sl SHORTS_EXT_1)
        
        SHORTCUT(mc_delword,                &macro_tap &kp LA(BACKSPACE))
        SHORTCUT(mc_joinwords,              &macro_tap &kp LA(LEFT) &kp BACKSPACE &kp LA(RIGHT))
  };
};
